{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}订单页 - 哆唻咪启蒙乐园{% endblock %}

{% block custom_content %}
    <section class="page-title center">
        <div class="container">
            <h2>checkout</h2>
            <ul>
                <li><a href="{% url "index" %}">主页</a></li>
                <li><a href="#">订单</a></li>
            </ul>
        </div>
    </section>

    <div class="checkout-page">
        <div class="container">

            <!--Default Links-->
            <ul class="default-links">
                <li>未登录？ 点击这里<span> <a href="{% url 'login' %}">登陆</a> 吧</span></li>
            </ul>

            <div class="row clearfix">
                <form class="order-form" method="post" action="{% url "shop:order" %}">
                    <div class=" col-md-7 col-sm-12 col-xs-12">
                        <!--Billing Details-->
                        <div class="Billing Details">
                            <div class="shop-form">
                                <form method="post" action="{% url "shop:order" %}">

                                    <div class="default-title"><h2>订单详情</h2></div>

                                    <div class="row clearfix">

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">收货人 <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">联系方式 <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">邮箱 <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                            <div class="field-label">地址 <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="">
                                        </div>

                                        <!--Form Group-->
                                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                            <div class="field-label">邮编 <sup>*</sup></div>
                                            <input type="text" name="field-name" value="" placeholder="不清楚可填0000">
                                        </div>

                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="check-box"><input type="checkbox" name="shipping-option"
                                                                          id="account-option">  
                                                <label for="account-option">注册一个账户?</label></div>
                                        </div>

                                    </div>
                                </form>

                            </div>

                        </div><!--End Billing Details-->
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <!--Your Order-->
                        <div class="your-order">
                            <div class="default-title"><h2>订单支付</h2></div>
                            <!--Orders Table-->
                            <ul class="orders-table">
                                <li class="table-header clearfix">
                                    <div class="col">商品</div>
                                    <div class="col">总计</div>
                                </li>
                                <li class="clearfix">
                                    <div class="col st-2">
                                        <div class="prod-box">
                                            <img src="{{ goods.pic.url }}" width="45"
                                                 height="60" alt=""> {{ goods.name }}
                                        </div>
                                    </div>
                                    <div class="col st-2">{{ goods.price }}</div>
                                </li>
                                <li class="clearfix">
                                    <div class="col st-4">邮费</div>
                                    <div class="col st-4">0.00</div>
                                </li>
                                <li class="clearfix total">
                                    <div class="col st-3">合计</div>
                                    <div class="col st-3">{{ order.price }}</div>
                                </li>
                            </ul>

                        </div><!--End Your Order-->


                        <!--Place Order-->
                        <div class="place-order">
                            <div class="default-title"><h2>选择支付方式：</h2></div>
                            <!--Payment Options-->
                            <div class="payment-options">
                                <ul>
                                    <li>
                                        <div class="radio-option">
                                            <input type="radio" name="payment-group" id="payment-1">
                                            <label for="payment-1"><strong>支付宝</strong></label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="radio-option">
                                            <input type="radio" name="payment-group" id="payment-2">
                                            <label for="payment-2"><strong>货到付款</strong></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button class="theme-btn btn-style-one ">订单支付 <span
                                    class="fa fa-long-arrow-right"></span></button>
                        </div><!--End Place Order-->
                    </div>

                </form>
            </div>

        </div>
    </div>

{% endblock %}