{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}商城 - 哆唻咪启蒙乐园{% endblock %}


{% block custom_content %}
    <section class="page-title center">
        <div class="container">
            <h2>STORE</h2>
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="#">shop</a></li>
            </ul>
        </div>
    </section>

    <section class="shop">
        <div class="container">
            {#            {% if goods.len < 3 %}#}
            <div class="team-list row">
                {% for goods in goods_list %}
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                             style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                            <figure class="img-holder">
                                <a href="/shop/goods/{{ goods.id }}"><img src="{{ goods.image_url }}" alt="{{ goods.name }}"></a>
                            </figure>
                            <div class="content">
                                <h2><a href="#">{{ goods.name }}</a></h2>
                                <p>{{ goods.price }} 元</p>
                                <div class="cart">
                                    <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {#            {% endif %}#}
        </div>


    </section>
{% endblock %}