{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}新闻 - 哆唻咪启蒙乐园{% endblock %}

{% block custom_content %}
    <section class="page-title center">
        <div class="container">
            <h2>NEWS</h2>
            <ul>
                <li><a href="{% url 'main:index' %}">主页</a></li>
                <li><a href="#">新闻</a></li>
            </ul>
        </div>
    </section>

    <section class="news">
        {% for news in news_list %}
            <ul class="list">
                <li><a class="link news" href="/news/{{ news.id }}/"> {{ news.title }}</a>
                    <span> {{ news.time }}</span></li>
            </ul>
        {% endfor %}
    </section>
{% endblock %}