{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}新闻 - 哆唻咪启蒙乐园{% endblock %}

{% block custom_content %}
    <section class="page-title center">
        <div class="container">
            <h2>NEWS</h2>
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="{% url 'news:news' %}">news</a></li>
                <li><a href="#">news-details</a></li>
            </ul>
        </div>
    </section>

    <section class="page-news-content center">
        <h4>{{ news.title }}</h4>
        <h7>{{ news.time }}</h7>
        <p>
            {{ news.content }}
        </p>

    </section>
{% endblock %}