{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}关于 - 哆唻咪早教园{% endblock %}

{% block custom_content %}
<section class="page-title center">
    <div class="container">
        <h2>about us</h2>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">about us</a></li>
        </ul>
    </div>
</section>

<section class="about">
    <div class="container">

        <div class="row">
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                     style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="post-content">
                        <div class="section-title">
                            <h2>Welcome TO <span>Nashville</span></h2>
                        </div>
                        <div class="text">
                            <p>We're a childcare centre with an engaging curriculum backed by qualified, experienced and
                                passionate teachers! By learning about those of differing social, cultural and
                                perspectives, young people </p>
                        </div>
                        <ul class="list">
                            <li>Educational field trips and school presentations</li>
                            <li>Comprehensive reporting on individual achievement</li>
                            <li>Individual attention in a small-class setting</li>
                        </ul>
                        <div class="link">
                            <a href="#" class="read-more">Get Involved</a>
                            <a href="#" class="read-more">Join Now</a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="single-column col-md-6 col-sm-12">
                <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                     style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-box">
                        <a href="#"><img src="../static/images/resource/1.png" alt=""></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-2 no-padd-top">
    <div class="container">

        <div class="row">
            <div class="column col-md-4 col-sm-6">
                <div class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                     style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="item center">
                        <div class="icon"><span class="icon-school"></span></div>
                        <div class="content">
                            <h4><a href="#">Active Learning</a></h4>
                            <p>Your child is growing up fast and ready for a little more independence, our pre school
                                club will be a perfect introduction.</p>
                            <a href="#" class="readmore">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-md-4 col-sm-6">
                <div class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                     style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="item center">
                        <div class="icon"><span class="icon-paint-1"></span></div>
                        <div class="content">
                            <h4><a href="#">Pre-School</a></h4>
                            <p>Your child is growing up fast and ready for a little more independence, our pre school
                                club will be a perfect introduction.</p>
                            <a href="#" class="readmore">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column col-md-4 col-sm-6">
                <div class="wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                     style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <div class="item center">
                        <div class="icon"><span class="icon-blocks"></span></div>
                        <div class="content">
                            <h4><a href="#">Language Lessons</a></h4>
                            <p>Your child is growing up fast and ready for a little more independence, our pre school
                                club will be a perfect introduction.</p>
                            <a href="#" class="readmore">Read more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="see-more">
        <div class="container">
            <div class="text-center">
                <h2>See Our Kindergarten Special Features!</h2>
                <div class="link">
                    <a href="#" class="theme-btn btn-style-one">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature style-2">
    <div class="container">
        <div class="section-title center pb-60">
            <h2>Our<span>Feature</span></h2>
        </div>
        <div class="row">

            <div class="column col-md-4 col-sm-12">
                <div class="item left1">
                    <div class="icon"><span class="icon-food"></span></div>
                    <h4><a href="#">Meals Provided</a></h4>
                    <p>Lorem ipsum dolor sit amet cotetur adipisicing elit mod tempor incididuntut labore</p>
                </div>
                <div class="item left1">
                    <div class="icon"><span class="icon-blocks"></span></div>
                    <h4><a href="#">Language Lessons</a></h4>
                    <p>Lorem ipsum dolor sit amet cotetur adipisicing elit mod tempor incididuntut labore</p>
                </div>
                <div class="item left1">
                    <div class="icon"><span class="icon-school"></span></div>
                    <h4><a href="#">Transportation</a></h4>
                    <p>Lorem ipsum dolor sit amet cotetur adipisicing elit mod tempor incididuntut labore</p>
                </div>

            </div>

            <div class="column col-md-4 col-sm-12">
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                     style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-box">
                        <a href="#"><img src="../static/images/resource/13.png" alt=""></a>
                    </figure>
                </div>

            </div>

            <div class="column col-md-4 col-sm-12">
                <div class="item left2">
                    <div class="icon"><span class="icon-library"></span></div>
                    <h4><a href="#">Full Day Session</a></h4>
                    <p>Lorem ipsum dolor sit amet cotetur adipisicing elit mod tempor incididuntut labore</p>
                </div>
                <div class="item left2">
                    <div class="icon"><span class="icon-paint-1"></span></div>
                    <h4><a href="#">Special Education</a></h4>
                    <p>Lorem ipsum dolor sit amet cotetur adipisicing elit mod tempor incididuntut labore</p>
                </div>
                <div class="item left2">
                    <div class="icon"><span class="icon-gestures"></span></div>
                    <h4><a href="#">Qualified Teachers</a></h4>
                    <p>Lorem ipsum dolor sit amet cotetur adipisicing elit mod tempor incididuntut labore</p>
                </div>

            </div>

        </div>
    </div>
</section>

<section class="sponser-section pdt-40 style-3">
    <div class="container">
        <div class="section-title center">
            <h2>Our <span>Partner</span></h2>
            <p>It’s an Amazine event for All over the World Design Community</p>
        </div>
        <ul class="sponsors-slider">
            <li><a href="#"><img src="../static/images/sponsors/1.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/2.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/3.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/4.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/5.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/6.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/1.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/2.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/3.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/4.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/5.png" alt=""></a></li>
            <li><a href="#"><img src="../static/images/sponsors/6.png" alt=""></a></li>
        </ul>
    </div>
</section>

<section class="two-column style-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 tab-column">
                <div class="section-title">
                    <h2>Our Child <span>Care Activities</span></h2>
                </div>
                <div class="outer-box">
                    <ul class="tab-list" role="tablist">
                        <li class="item active hvr-bubble-bottom" data-tab-name="Education">
                            <a href="#Education" aria-controls="Education" role="tab" data-toggle="tab"
                               class="clearfix">
                                Education
                            </a>
                        </li>
                        <li class="item hvr-bubble-bottom" data-tab-name="Activities">
                            <a href="#Activities" aria-controls="Activities" role="tab" data-toggle="tab"
                               class="clearfix">
                                Activities
                            </a>
                        </li>
                        <li class="item hvr-bubble-bottom" data-tab-name="Painting">
                            <a href="#Painting" aria-controls="Painting" role="tab" data-toggle="tab" class="clearfix">
                                Painting
                            </a>
                        </li>
                        <li class="item hvr-bubble-bottom" data-tab-name="Games">
                            <a href="#Games" aria-controls="Games" role="tab" data-toggle="tab" class="clearfix">
                                Games
                            </a>


                    </ul>
                </div>

                <div class="content-column tab-content">
                    <div class="inner-box tab-pane fade in active " id="Education">
                        <div class="content">
                            <h2>Let the Learning Begin </h2>
                            <p>We are group of teachers who really love childrens and enjoy every moment of teaching and
                                playing with our students.Our teachers graduated from differnt Universities with as
                                different subjects but its all included in Education Major. Therefore, we are very
                                confident with our knowledge and teaching skills.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                    </div>
                    <div class="inner-box tab-pane fade " id="Activities">
                        <div class="content">
                            <h2>Let the Learning Begin </h2>
                            <p>We are group of teachers who really love childrens and enjoy every moment of teaching and
                                playing with our students.Our teachers graduated from differnt Universities with as
                                different subjects but its all included in Education Major. Therefore, we are very
                                confident with our knowledge and teaching skills.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                    </div>
                    <div class="inner-box tab-pane fade " id="Painting">
                        <div class="content">
                            <h2>Let the Learning Begin </h2>
                            <p>We are group of teachers who really love childrens and enjoy every moment of teaching and
                                playing with our students.Our teachers graduated from differnt Universities with as
                                different subjects but its all included in Education Major. Therefore, we are very
                                confident with our knowledge and teaching skills.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                    </div>
                    <div class="inner-box tab-pane fade " id="Games">
                        <div class="content">
                            <h2>Let the Learning Begin </h2>
                            <p>We are group of teachers who really love childrens and enjoy every moment of teaching and
                                playing with our students.Our teachers graduated from differnt Universities with as
                                different subjects but its all included in Education Major. Therefore, we are very
                                confident with our knowledge and teaching skills.</p>
                            <a href="#" class="link">Read More</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12 testimonial">
                <div class="section-title">
                    <h2>What The <span>Parents Say</span></h2>
                </div>
                <div class="testimonial-slide">

                    <div class="item center">
                        <img src="../static/images/team/t1.jpg" alt="">
                        <div class="img-ifo">
                            <div class="text">
                                <p>Our teachers graduated from differnt Universities with as different subjects but its
                                    all included in Education M</p>
                            </div>
                            <div class="rating">
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                            </div>
                            <div class="link">
                                <a href="#" class="btn-style-one">Ellina Gilbert</a>
                            </div>
                        </div>
                    </div>
                    <div class="item center">
                        <img src="../static/images/team/t1.jpg" alt="">
                        <div class="img-ifo">
                            <div class="text">
                                <p>Our teachers graduated from differnt Universities with as different subjects but its
                                    all included in Education M</p>
                            </div>
                            <div class="rating">
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                            </div>
                            <div class="link">
                                <a href="#" class="btn-style-one">Ellina Gilbert</a>
                            </div>
                        </div>
                    </div>
                    <div class="item center">
                        <img src="../static/images/team/t1.jpg" alt="">
                        <div class="img-ifo">
                            <div class="text">
                                <p>Our teachers graduated from differnt Universities with as different subjects but its
                                    all included in Education M</p>
                            </div>
                            <div class="rating">
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                                <span class="star fa fa-star-o"></span>
                            </div>
                            <div class="link">
                                <a href="#" class="btn-style-one">Ellina Gilbert</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>


    </div>
</section>

{% endblock %}
