{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}联系我们 - 哆唻咪启蒙乐园{% endblock %}

{% block custom_content %}
    <section class="page-title center">
        <div class="container">
            <h2>contact us</h2>
            <ul>
                <li><a href="/">主页</a></li>
                <li><a href="/contact/">联系我们</a></li>
            </ul>
        </div>
    </section>
    <section class="contact-us">
        <div class="container">
            <div class="section-title center">
                <div class="drop-message">
                    <h2>给我们 <span>留言</span>吧</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <div class="contact-box" id="contactForm">

                    <form method="post" class="contact-form" id="contact-form" action="{% url 'contact:contact' %}"
                          novalidate="novalidate">
                        {% csrf_token %}
                        <div class="row clearfix">

                            <div class="form-group" id="contact-alert" style="visibility:hidden;">
                                <div class="alert alert-success" role="alert"></div>
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <input type="text" id="username" name="username" value="" placeholder="姓名*">
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <input type="text" id="phone" name="phone" value="" placeholder="联系方式*">
                            </div>


                            <label class="control-label">留言类型</label>

                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <div class="layui-input-block">
                                    <input type="radio" name="type" value="0" title="咨询" checked="">
                                    <input type="radio" name="type" value="1" title="建议">
                                    <input type="radio" name="type" value="2" title="投诉">
                                </div>
                            </div>

                            <div class="form-group col-lg-12 col-sm-12 col-xs-12">
                                <textarea name="message" id="message" placeholder="在这里写下您要对我们说的话吧(500个字)。。。"></textarea>
                            </div>

                            <div class="form-group col-lg-12 center">
                                <button type="submit" name="contact_submit" id='contact_submit'
                                        class="btn-style-one center">留言
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}