<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="../static/css/common-style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">

</head>
<body class="contact-page">
<div class="preloader"></div>
<header class="header clearfix">
    <div class="main-header stricky bubble">
        <div class="container">
            <div class="logo pull-left">
                <a href="index.html">
                    <img src="../static/images/logo/1.png" alt="Awesome Image">
                </a>
            </div>

            <div class="nav-outer">
                <div class="header-top">
                    <div class="contact">
                        <span class="icon fa fa-phone"></span>Call :  +(62) 123 456 7890
                    </div>
                    <div class="register">
                        <a href="#">Register</a>
                        <a href="#">Login </a>
                    </div>

                    <div id="polyglotLanguageSwitcher">
                        <form action="#">
                            <select id="polyglot-language-options">
                                <option id="en" value="en" selected>Eng</option>
                                <option id="fr" value="fr">Fre</option>
                                <option id="de" value="de">Ger</option>
                                <option id="it" value="it">Ita</option>
                                <option id="es" value="es">Spa</option>
                            </select>
                        </form>
                    </div>
                    <div id="top-search" class="top-search">
                        <span class="flaticon-search search"></span>
                        <ul class="search-box">
                            <li>
                                <form action="#">
                                    <input type="text" placeholder="Search for something...">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="cart">
                        <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                    </div>
                </div>
                <nav class="mainmenu-area">
                    <div class="navbar" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                        </div>

                        <div class="navbar-collapse collapse text-center">  
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li class="dropdown">
                                    <a href="events.html">Events</a>
                                    <ul class="submenu">
                                        <li><a href="events.html">Events</a></li>
                                        <li><a href="events-detrails.html">Events details</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About</a></li>
                                <li class="dropdown">
                                    <a href="shop.html">shop</a>
                                    <ul class="submenu">
                                        <li><a href="product-details.html">product details</a></li>
                                        <li><a href="cart-page.html">cart page</a></li>
                                        <li><a href="checkout-page.html">checkout page</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>  
                        </div> 
                    </div>
                </nav>
            </div>

        </div>
    </div>
</header>



<section class="map-section">
    <div class="google-map" id="contact-google-map" data-map-lat="37.668705" data-map-lng="-121.882048" data-map-title="Awesome Place" data-map-zoom="12">
        
    </div>
    <div class="container">
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="about.html">contact us</a></li>
        </ul>
    </div>
</section>



<section class="contact-us">
    <div class="upper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <div class="item center">
                        <div class="icon">
                            <span class="icon-location"></span>
                        </div>
                        <div class="content">
                            <h4><a href="#">Address</a></h4>
                            <p>Nashville 09 First Floor Downtown <br> st, Victoria, Australia - 0078</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <div class="item center">
                        <div class="icon">
                            <span class="icon-technology-2"></span>
                        </div>
                        <div class="content">
                            <h4><a href="#">Phone number</a></h4>
                            <p>+(62) 123 456 7890</p>
                            <p>+(62) 123 456 7893</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 column">
                    <div class="item center">
                        <div class="icon">
                            <span class="icon-interface"></span>
                        </div>
                        <div class="content">
                            <h4><a href="#">Email id</a></h4>
                            <p>Nashville@Support.com </p>
                            <p>YourAddress@info.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="section-title center">
                <h2>Drop A <span>message</span></h2>
            </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <div class="contact-box">

                    <form method="post" action="sendemail.php" class="contact-form" novalidate="novalidate">
                            
                        <div class="row clearfix">
                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <input type="text" name="username" value="" placeholder="First Name*">
                            </div>

                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <input type="text" name="username" value="" placeholder="Last Name*">
                            </div>
                            
                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <input type="email" name="email" value="" placeholder="Email*">
                            </div>


                            <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                <input type="text" name="phone" value="" placeholder="Phone No">
                            </div>
                            
                            
                            <div class="form-group col-lg-12 col-sm-12 col-xs-12">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>

                            <div class="form-group col-lg-12 center">
                                <button type="submit" name="submit" class="btn-style-one center">Submit now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
    

<section class="footer">

    <div class="footer-bottom">
        <div class="footer-bottom-bg">
            <div class="container">
                <div class="pull-left">
                    <figure><a href="#"><img src="../static/images/logo/2.png" alt=""></a></figure>
                </div>
                <div class="pull-right">
                    <div class="menu">
                        <ul class="clearfix">
                            <li><a href="index.html">home</a></li>
                            <li><a href="event.html">event</a></li>
                            <li><a href="blog.html">page</a></li>
                            <li><a href="gallery.html">gallery</a></li>
                            <li><a href="news.html">news</a></li>
                            <li><a href="shop.html">shop</a></li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                    </div>
                    <div class="copy-right">
                        Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


<!--Scroll to top-->
<div class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></div>


        <!-- jQuery js -->
    <script src="../static/assets/jquery/jquery-1.12.3.min.js"></script>
    <!-- bootstrap js -->
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- jQuery ui js -->
    <script src="../static/assets/jquery-ui-1.11.4/jquery-ui.js"></script>

    <!-- wow js -->
    <script src="../static/assets/wow.js"></script>

    <!-- owl carousel js -->
    <script src="../static/assets/owl.carousel-2/owl.carousel.min.js"></script>              <!-- jquery.bxslider js -->
    <script src="../static/assets/jquery.bxslider/jquery.bxslider.min.js"></script>
    <!-- jQuery validation -->
    <script src="../static/assets/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- gmap.js helper -->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>-->
    <!-- gmap.js -->
    <!--<script src="assets/gmaps.js"></script>-->
    
    <!-- mixit u -->
    <script src="../static/assets/jquery.mixitup.min.js"></script>
    <script src="../static/assets/isotope.pkgd.min.js"></script>
    <script src="../static/assets/jquery.countdown.min.js"></script>
    <script src="../static/assets/masterslider/masterslider.js"></script>
    <script src="../static/assets/SmoothScroll.js"></script>

    <!-- revolution slider js -->
    <script src="../static/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="../static/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../static/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <script src="../static/assets/Polyglot-Language-Switcher-master/js/jquery.polyglot.language.switcher.js"></script>
    <script src="../static/assets/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
    <script src="../static/assets/scrollbar.js"></script>
    
    <!--<script src="js/default-map-script.js"></script>-->
    <script src="../static/js/script.js"></script>








</body>
</html>

