{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}事件详情 - 哆唻咪早教园{% endblock %}

{% block custom_content %}

<section class="page-title center">
    <div class="container">
        <h2>Event Details</h2>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="events-detrails.html">Event Details</a></li>
        </ul>
    </div>
</section>

<div class="sidebar-page product-details">
    <div class="container">
    
        <div class="row clearfix">
            
            <!--Content Side--> 
            <div class="col-md-8 col-sm-7 col-xs-12 post-column">
                <section class="post-container">
                    
                    <!--Blog Post-->
                    <div class="blog-post wow fadeInLeft animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                        <article class="single-column">
                            <div class="img-box-s2">
                                <div class="img-holder">
                                    <img src="../static/images/product/14.jpg" alt="">
                                </div>
                                <div class="outer-box">
                                    <div class="content">
                                        <h3><a href="#">Multiple courses, expert instructors and effort and money</a></h3>
                                        <div class="date"><span class="icon-clock"> 10:00 am - 6:00 pm </span> <span class="icon-location">16122 Collins Street West Victoria Australia</span></div>
                                        <div class="text">
                                            <p>consectetur adipisicing elit, sed do eiusmod tempor.orem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam sit amet consectetur adipisicing elit sed magna aliquat enim do eiusmod tempor.
                                            </p>
                                            <p>Eu ligula qui pretium viverra ullamcorper nec morbi ipsum imperdiet magna viverra. Integer dictum tincidunt mattis volutpat non. Ac dictum rhoncus. Quis donec mollitia. Pharetra sem posuere. Suspendisse nulla et. Phasellus donec a ornare sit magna. Id a lobortis duis in nec sapien massa quam pellentesque ac lacus. Vestibulum proin nec. Scelerisque ut lacus mi orci fermentum lorem mi velit.</p>
                                        </div>
                                        <ul class="list">
                                            <li>Tatemesa quiau voluptas sit aspernatur aut odit aut fugit be thOUGHT</li>
                                            <li>Accusanteum reqw dol vreme querirka laudantium create chemical changes.</li>
                                            <li>Quis autem vel eum iurea reprehenderit qui in eavoltu healthy diet.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article>  
                    </div>
                
            
                </section>
            
                
            </div>
            <!--Content Side-->
            
            <div class="col-md-4 col-sm-5 col-xs-12">
                <aside class="sidebar">
                
                    <!-- Popular Categories -->
                    <div class="widget wow fadeInUp animated animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                        <div class="sidebar-title"><h2>Events <span>Details</span></h2></div>
                        
                        <ul class="list catagories product-info">
                            <li><i class="icon-reading"></i><span>Categories:</span>  Education, Childcare </li>
                            <li><i class="icon-coin-icon"></i><span>Price :</span> Free</li>
                            <li><i class="icon-clock"></i><span>Start :</span> July 12, 2016-8:00 am </li>
                            <li><i class="icon-cup"></i><span>Lectures :</span> 10</li>
                            <li><i class="icon-people"></i><span>Organizer :</span>  Stevan Smith</li>
                            <li><i class="icon-location"></i><span>Address :</span> 16122 Collins Street West Victoria</li>
                        </ul>
                        
                    </div>

                    <div class="map-section">
                        <div class="google-map" id="contact-google-map" data-map-lat="37.668705" data-map-lng="-121.882048" data-map-title="Awesome Place" data-map-zoom="12">
        
                        </div>
                    </div>
                    

                            
                </aside>
            </div>
        </div>
        
        
    </div>
</div>

{% endblock %}