{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}主页 - 哆唻咪启蒙乐园{% endblock %}

{% block custom_content %}
    <section class="rev_slider_wrapper">
        <h2 class="hidden">rev slider</h2>
        <div id="slider1" class="rev_slider" data-version="5.0">
            <ul>
                <li class="gradient-overlay" data-transition="slotzoom-horizontal" data-slotamount="1"
                    data-masterspeed="1000" data-thumb="images/main-slider/1.jpg" data-saveperformance="off"
                    data-title="Awesome Title Here">
                    <img src="{% static 'images/main-slider/1.jpg' %} " alt="" data-bgposition="center top"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">

                    <div class="tp-caption lfl sfb tp-resizeme start"
                         data-x="left" data-hoffset="30"
                         data-y="center" data-voffset="0"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><img src="{% static 'images/main-slider/7.png' %}" alt=""></div>

                    <div class="tp-caption lfl sfb tp-resizeme start"
                         data-x="left" data-hoffset="245"
                         data-y="center" data-voffset="-190"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><img src="{% static 'images/main-slider/1.png' %}" alt=""></div>

                    <div class="tp-caption lft sfb tp-resizeme start"
                         data-x="center" data-hoffset="50"
                         data-y="center" data-voffset="-110"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><img src="{% static 'images/main-slider/2.png' %}" alt=""></div>

                    <div class="tp-caption lfr sfb tp-resizeme start"
                         data-x="right" data-hoffset="150"
                         data-y="center" data-voffset="-40"
                         data-speed="1500"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><img src="{% static 'images/main-slider/4.png' %}" alt=""></div>

                    <div class="tp-caption lfb sfb tp-resizeme start"
                         data-x="center" data-hoffset="240"
                         data-y="center" data-voffset="160"
                         data-speed="1500"
                         data-start="2500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><img src="{% static 'images/main-slider/3.png' %}" alt=""></div>
                </li>
                <li class="gradient-overlay overly" data-transition="slotzoom-horizontal" data-slotamount="1"
                    data-masterspeed="1000" data-thumb="images/main-slider/2.jpg" data-saveperformance="off"
                    data-title="Awesome Title Here">
                    <img src="{% static 'images/main-slider/2.jpg' %}" alt="" data-bgposition="center top"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">


                    <div class="tp-caption lfl sfb tp-resizeme start"
                         data-x="left" data-hoffset="0"
                         data-y="center" data-voffset="0"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><img src="{% static 'images/main-slider/5.png' %}" alt=""></div>

                    <div class="tp-caption lft sfb tp-resizeme start"
                         data-x="right" data-hoffset="0"
                         data-y="center" data-voffset="0"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="outer-box">
                            <p>Doremi </p>
                            <h3>在我们这里你们可以 <br> 学习了解很多 <br> 奇妙的事情</h3>
                        </div>
                    </div>

                </li>

                <li class="gradient-overlay" data-transition="slotzoom-horizontal" data-slotamount="1"
                    data-masterspeed="1000" data-thumb="{% static 'images/main-slider/3.jpg' %}"
                    data-saveperformance="off"
                    data-title="Awesome Title Here">
                    <img src="{% static 'images/main-slider/3.jpg' %}" alt="" data-bgposition="center top"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat">


                    <div class="tp-caption lfl sfb tp-resizeme start"
                         data-x="left" data-hoffset="0"
                         data-y="center" data-voffset="0"
                         data-speed="1500"
                         data-start="1000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><img src="{% static 'images/main-slider/6.png' %}" alt=""></div>

                    <div class="tp-caption lft sfb tp-resizeme start"
                         data-x="left" data-hoffset="600"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><h2>我们的目标是提供一个 <br> 自然的成长环境
                    </h2>
                    </div>

                    <div class="tp-caption lfr sfr tp-resizeme start"
                         data-x="left" data-hoffset="600"
                         data-y="center" data-voffset="0"
                         data-speed="1500"
                         data-start="2000"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><p>关注幼儿，不打扰他的注意力，培养他的专注力 <br>我们在行动！</p></div>

                    <div class="tp-caption lfb sfb tp-resizeme start"
                         data-x="left" data-hoffset="600"
                         data-y="center" data-voffset="80"
                         data-speed="1500"
                         data-start="2500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">加入我们</a>
                    </div>

                </li>


            </ul>
        </div>
    </section>

    <section class="about">
        <div class="container">

            <div class="row">
                <div class="single-column col-md-6 col-sm-12">
                    <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <div class="post-content">
                            <div class="section-title">
                                <h2>Welcome TO <span>Doremi</span></h2>
                            </div>
                            <div class="text">
                                <p>我们是一家0-3岁的幼儿培育教育中心，有一群热情、活泼、自然、开朗、能歌善舞，喜欢小朋友的团队们。</p>
                            </div>
                            <ul class="list">
                                <li>教育局批准的标准化幼儿教学基地</li>
                                <li>丰富的教学资源，优质的教育理念</li>
                                <li>成熟的健康安全保卫工作</li>
                            </ul>
                            <div class="link">
                                <a href="{% url 'main:about' %}" class="read-more">了解更多</a>
                                <a href="#" class="read-more">加入我们</a>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="single-column col-md-6 col-sm-12">
                    <div class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-box">
                            <a href="#"><img src="{% static 'images/resource/1.png' %}" alt=""></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="call-out">
        <div class="container">
            <div class="row">

                <div class="column col-md-9 col-sm-12 col-xs-12">
                    <div class="text-left clearfix">
                        <h2>来吧!</h2>
                        <p>没有什么能比孩子们的成长更重要了！ <br>我们会呵护他们健康快乐的成长！</p>
                    </div>

                </div>

                <div class="column col-md-3 col-sm-12 col-xs-12">
                    <div class="text-right padd-top-20">
                        <a href="#" class="theme-btn btn-style-one">加入我们 </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feature">
        <div class="container">
            <div class="section-title center pb-60">
                <h2>我们的<span>优势</span></h2>
            </div>
            <div class="row">

                <div class="column col-md-4 col-sm-12">
                    <div class="item right">
                        <div class="icon"><span class="icon-food"></span></div>
                        <h4><a href="#">午餐供应</a></h4>
                        <p>我们有着高品质的实物供应，完全符合教育局标准</p>
                    </div>
                    <div class="item right">
                        <div class="icon"><span class="icon-blocks"></span></div>
                        <h4><a href="#">双语课程</a></h4>
                        <p>我们有着众多优秀外教老师</p>
                    </div>
                    <div class="item right">
                        <div class="icon"><span class="icon-school"></span></div>
                        <h4><a href="#">接送上下学</a></h4>
                        <p>我们有着标准化的校车来护送小朋友有安全上下学</p>
                    </div>

                </div>

                <div class="column col-md-4 col-sm-12">
                    <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-box">
                            <a href="#"><img src="{% static 'images/resource/2.png' %}" alt=""></a>
                        </figure>
                    </div>

                </div>

                <div class="column col-md-4 col-sm-12">
                    <div class="item left">
                        <div class="icon"><span class="icon-library"></span></div>
                        <h4><a href="#">全天课程安排</a></h4>
                        <p>让孩子们能学习到好多新知识</p>
                    </div>
                    <div class="item left">
                        <div class="icon"><span class="icon-paint-1"></span></div>
                        <h4><a href="#">充分的教学资源</a></h4>
                        <p>我们有着丰富的多媒体教学资源</p>
                    </div>
                    <div class="item left">
                        <div class="icon"><span class="icon-gestures"></span></div>
                        <h4><a href="#">顶尖的教师团队</a></h4>
                        <p>我们有着顶尖的教师团队，他们有着丰富的幼儿教育资源</p>
                    </div>

                </div>

            </div>
        </div>
        <div class="see-more">
            <div class="container">
                <div class="text-left">
                    <div class="link pull-right">
                        <a href="{% url 'main:about' %}" class="theme-btn btn-style-one">查看更多详情信息</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cource">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="img-column" role="tablist">

                        <div class="item active wow fadeIn" data-tab-name="tab-1" data-wow-duration="2s"
                             data-wow-delay="0.5s" data-wow-offset="0"
                             style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                            <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab" class="clearfix">
                                <img src="{% static 'images/resource/1.jpg' %}" alt="">
                                <div class="text">快乐的课堂环境</div>
                            </a>

                        </div>
                        <div class="item wow fadeIn" data-tab-name="tab-2" data-wow-duration="2s" data-wow-delay="0.6s"
                             data-wow-offset="0"
                             style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                            <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab" class="clearfix">
                                <img src="{% static 'images/resource/2.jpg' %}" alt="">
                                <div class="text">丰富的玩具设备</div>
                            </a>
                        </div>
                        <div class="item wow fadeIn" data-tab-name="tab-3" data-wow-duration="2s" data-wow-delay="0.7s"
                             data-wow-offset="0"
                             style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                            <a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab" class="clearfix">
                                <img src="{% static 'images/resource/3.jpg' %}" alt="">
                                <div class="text">绘画课我们更专业</div>
                            </a>
                        </div>
                        <div class="item wow fadeIn" data-tab-name="tab-4" data-wow-duration="2s" data-wow-delay="0.8s"
                             data-wow-offset="0"
                             style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                            <a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab" class="clearfix">
                                <img src="{% static 'images/resource/3.jpg' %}" alt="">
                                <div class="text">小组合作上课</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="content-column tab-content center">
                        <div class="inner-box tab-pane fade in active " id="tab-1">
                            <div class="section-title center sep-2">
                                <h2>出色的教学课程</h2>
                            </div>
                            <div class="post-content">
                                <h3>参加试听课</h3>

                                <p>我们每期都会举办试听课程，方便家长们进一步了解我们</p>
                                <h4>下一期课程</h4>
                                <div class="time">2019-9-26 上午 9：30</div>
                            </div>
                        </div>
                        <div class="inner-box tab-pane fade " id="tab-2">
                            <div class="section-title center sep-2">
                                <h2>出色的教学课程</h2>
                            </div>
                            <div class="post-content">
                                <h3>参加试听课</h3>
                                <p>我们每期都会举办试听课程，方便家长们进一步了解我们</p>
                                <h4>下一期课程</h4>
                                <div class="time">2019-9-26 上午 9：30</div>
                            </div>
                        </div>
                        <div class="inner-box tab-pane fade " id="tab-3">
                            <div class="section-title center sep-2">
                                <h2>出色的教学课程</h2>
                            </div>
                            <div class="post-content">
                                <h3>参加试听课</h3>

                                <p>我们每期都会举办试听课程，方便家长们进一步了解我们</p>
                                <h4>下一期课程</h4>
                                <div class="time">2019-9-26 上午 9：30</div>
                            </div>
                        </div>

                        <div class="inner-box tab-pane fade " id="tab-4">
                            <div class="section-title center sep-2">
                                <h2>出色的教学课程</h2>
                            </div>
                            <div class="post-content">
                                <h3>参加试听课</h3>

                                <p>我们每期都会举办试听课程，方便家长们进一步了解我们</p>
                                <h4>下一期课程</h4>
                                <div class="time">2019-9-26 上午 9：30</div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </section>

    {% if teachers %}
        <section class="team">
            <div class="container">
                <div class="section-title center pb-60">
                    <h2>我们的 <span>教师</span> 团队</h2>
                </div>

                <div class="team-list">
                    <div class="row">
                        {% for teacher in teachers %}
                            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-duration="2s"
                                 data-wow-delay="0.5s"
                                 data-wow-offset="0"
                                 style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                                <div class="item">
                                    <div class="img-holder">
                                        <figure><a href="#"><img src="{{ teacher.image.url }}"
                                                                 alt="{{ teacher.nick_name }}"></a>
                                        </figure>
                                        <div class="content">
                                            <h2><a href="#">{{ teacher.nick_name }}老师</a></h2>
                                            <p>{{ teacher.position }}</p>
                                        </div>

                                    </div>
                                    <div class="overlay">
                                        <div class="inner">
                                            <div class="content">
                                                <h2><a href="#">{{ teacher.nick_name }}老师</a></h2>
                                                <p>{{ teacher.position }}</p>
                                            </div>
                                            <ul class="social">
                                                <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                                                <li><a href="#"><i class="fa fa-tencent-weibo"></i></a></li>
                                                <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                                <li><a href="#"><i class="fa fa-qq"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </section>
    {% endif %}

    <section class="two-column">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 tab-column">
                    <div class="section-title">
                        <h2>我们关心 <span>孩子们</span>的</h2>
                    </div>
                    <div class="outer-box">
                        <ul class="tab-list" role="tablist">
                            <li class="item active hvr-bubble-bottom" data-tab-name="Education">
                                <a href="#Education" aria-controls="Education" role="tab" data-toggle="tab"
                                   class="clearfix">
                                    教育
                                </a>
                            </li>
                            <li class="item hvr-bubble-bottom" data-tab-name="Activities">
                                <a href="#Activities" aria-controls="Activities" role="tab" data-toggle="tab"
                                   class="clearfix">
                                    活动
                                </a>
                            </li>
                            <li class="item hvr-bubble-bottom" data-tab-name="Painting">
                                <a href="#Painting" aria-controls="Painting" role="tab" data-toggle="tab"
                                   class="clearfix">
                                    绘画
                                </a>
                            </li>
                            <li class="item hvr-bubble-bottom" data-tab-name="Games">
                                <a href="#Games" aria-controls="Games" role="tab" data-toggle="tab" class="clearfix">
                                    玩乐
                                </a>


                        </ul>
                    </div>

                    <div class="content-column tab-content">
                        <div class="inner-box tab-pane fade in active " id="Education">
                            <div class="content">
                                <h2>优质的教育资源 </h2>
                                <p>让孩子们能更开心的学习新知识</p>
                                <a href="#" class="link">Read More</a>
                            </div>
                        </div>
                        <div class="inner-box tab-pane fade " id="Activities">
                            <div class="content">
                                <h2>丰富的活动 </h2>
                                <p>丰富的活动让孩子们开心每一天</p>
                                <a href="#" class="link">Read More</a>
                            </div>
                        </div>
                        <div class="inner-box tab-pane fade " id="Painting">
                            <div class="content">
                                <h2>绘画锻炼想象力</h2>
                                <p>带领小朋友遨游绘画世界，释放他们的天性</p>
                                <a href="#" class="link">Read More</a>
                            </div>
                        </div>
                        <div class="inner-box tab-pane fade " id="Games">
                            <div class="content">
                                <h2>玩乐是孩子们的天性</h2>
                                <p>在玩乐中学习。在玩乐中成长</p>
                                <a href="#" class="link">Read More</a>
                            </div>
                        </div>

                    </div>
                </div>
                {% if feedbacks %}
                    <div class="col-md-4 col-sm-12 testimonial">
                        <div class="section-title">
                            <h2><span>家长们</span>说</h2>
                        </div>
                        <div class="testimonial-slide">
                            {% for feedback in feedbacks %}
                                <div class="item center">
                                    <img src="{{ feedback.image.url }}" width="90" height="80" alt="">
                                    <div class="img-ifo">
                                        <div class="text">
                                            <p>{{ feedback.content }}</p>
                                            <p>{{ feedback.content }}</p>
                                            <p>{{ feedback.content }}</p>
                                        </div>
                                        <div class="rating">
                                            <span class="star fa fa-star"></span>
                                            <span class="star fa fa-star"></span>
                                            <span class="star fa fa-star"></span>
                                            <span class="star fa fa-star"></span>
                                            <span class="star fa fa-star"></span>
                                        </div>
                                        <div class="link">
                                            <a href="#" class="btn-style-one">{{ feedback.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>


        </div>
    </section>

    <section class="gallery-section gallery-three-column">
        <div class="container">
            <div class="section-title">
                <h2>精彩 <span>一瞬间</span></h2>
            </div>

            <!--Sortable Masonry-->
            <div class="sortable-carousel">
                <!--Filter-->
                <div class="row">
                    {% for pic in pictures %}
                        <!--Default Portfolio Item-->
                        <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{{ pic.image.url }}" alt="{{ pic.title }}"></figure>
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <h3><a href="#gallery-popup" class=" has-gallery-popup"
                                                   title="查看大图">查看大图</a></h3>
                                            <a href="#gallery-popup" class="image-link has-gallery-popup"
                                               title="查看大图"><span class="icon-magnifier"></span></a>
                                            <a href="#" class="image-link2"><span class="icon-link-1"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for pic in pictures %}
                        <!--Default Portfolio Item-->
                        <div class="col-md-3 col-sm-6 col-xs-12 default-portfolio-item">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{{ pic.image.url }}" alt=""></figure>
                                <!--Overlay Box-->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="content">
                                            <h3><a href="#gallery-popup" class=" has-gallery-popup"
                                                   title="查看大图">Opening
                                                Remark</a></h3>
                                            <a href="#gallery-popup" class="image-link has-gallery-popup"
                                               title="查看大图"><span class="icon-magnifier"></span></a>
                                            <a href="#" class="image-link2"><span class="icon-link-1"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="see-more style-2">
            <div class="container">
                <div class="clearfix">
                    <div class="link pull-right">
                        <a href="{% url "main:about" %} " class="theme-btn btn-style-one">查看更多照片</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if goods_list %}
        <section class="shop">
            <div class="container">
                <div class="section-title center pb-60">
                    <h2>最新上架的 <span>产品</span></h2>
                </div>
                <div class="team-list row">
                    {% for goods in goods_list %}
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s"
                                 data-wow-offset="0"
                                 style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                                <figure class="img-holder">
                                    <a href="#"><img src="{{ goods.pic.url }}" alt="{{ goods.name }}"></a>
                                </figure>
                                <div class="content">
                                    <h2><a href="/shop/goods/{{ goods.id }}">{{ goods.name }}</a></h2>
                                    <p>{{ goods.price }}</p>
                                    <div class="cart">
                                        <a href="shop/cart.html"><span class="flaticon-shop"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}