{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}产品详情 - 哆唻咪启蒙乐园{% endblock %}

{% block custom_content %}

<section class="page-title center">
    <div class="container">
        <h2>single product</h2>
        <ul>
            <li><a href="index.html">home</a></li>
            <li><a href="product-details.html">single product</a></li>
        </ul>
    </div>
</section>

<section class="blog-page-content latest-news section-padding shop-page single-blog-page single-class-content">
    <div class="container">
        <div class="single-product-box">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-info">
                        <div class="single-product-carousel-content-box owl-carousel owl-theme">
                            <div class="item">
                                <img src="../static/images/product/15.jpg" alt="Awesome Image">
                            </div>
                            <div class="item">
                                <img src="../static/images/product/16.jpg" alt="Awesome Image">
                            </div>
                            <div class="item">
                                <img src="../static/images/product/17.jpg" alt="Awesome Image">
                            </div>
                            <div class="item">
                                <img src="../static/images/product/18.jpg" alt="Awesome Image">
                            </div>
                            
                        </div>
                        <div class="single-product-carousel-thumbnail-box owl-carousel owl-theme">                                  
                            <div class="item">
                                <img src="../static/images/product/thumb2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="../static/images/product/thumb3.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="../static/images/product/thumb1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="../static/images/product/thumb4.jpg" alt="">
                            </div>
                        </div>
                        <div class="link"><a href="cart-page.html"><span class="icon-add"></span></a></div>
                    </div>
                        

                </div>
                <div class="col-md-6">
                    <div class="top-box clearfix">
                        <div class="text-box">
                            <h3>Stuffed soft sitting</h3>
                            <div class="box">
                                <ul class="list-inline">
                                    <li><span><i class="fa fa-star"></i></span></li>
                                    <li><span><i class="fa fa-star"></i></span></li>
                                    <li><span><i class="fa fa-star"></i></span></li>
                                    <li><span><i class="fa fa-star"></i></span></li>
                                    <li><span class="no-star"><i class="fa fa-star-o"></i></span></li>
                                </ul>
                                <span>2 reviews  |  Write a Review</span>
                            </div>
                        </div>
                        <div class="text">
                            <p>Three's company too. All of them had hair of gold like their mother the youngest one in curls. The Brady Bunch the Brady Bunch that's the way.</p>
                            <p>we all became the Brady Bunch. The Brady Bunch the Brady Bunch that's the way we all became the Brady Bunch.</p>
                        </div>
                        <div class="price-box">
                            $45.00
                        </div>
                        <div class="extra-price">
                            Ex Tax : $5.00
                        </div>

                    </div>

                        
                    <div class="bottom-box clearfix">
                        <div class="input-box pull-left">
                            <span>Qty:</span><input type="number" value="1">
                        </div>
                        <div class="button-box pull-left">
                            <a href="#" class="thm-btn btn-style-one">Add to Cart</a>
                        </div>
                        <div class="share-box pull-left">
                            <a href="#" class="share-btn"><span class="icon-symbol"></span></a>
                        </div>

                    </div>
                    <div class="tab-box">
                        <div class="tab-title">
                            <ul role="tablist">
                                <li class="active" data-tab-name="description"><span class="curve-bottom"></span><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Education</a></li>
                                <li data-tab-name="review"><span class="curve-bottom"></span><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Activities</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="single-tab-content tab-pane fade in active" id="description">
                                <p>We are group of teachers who really love childrens and enjoy every moment of teaching and playing with our students.Our teachers graduated from differnt Universities with as different subjects but its all included in Education Major.</p>
                            </div>
                            <div class="single-tab-content tab-pane fade" id="review">
                                <p>We are group of teachers who really love childrens and enjoy every moment of teaching and playing with our students.Our teachers graduated from differnt Universities with as different subjects but its all included in Education Major.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>

    </div>
</section>  

<section class="shop">
    <div class="container">
        <div class="section-title center pb-60">
            <h2>Our Latest <span>Products</span></h2>
        </div>


        <div class="team-list row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-holder">
                        <a href="#"><img src="../static/images/product/1.jpg" alt="Awesome Image"></a>
                    </figure>
                    <div class="content">
                        <h2><a href="#">Jigsaw box alphabets</a></h2>
                        <p>$ 85</p>
                        <div class="cart">
                            <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-holder">
                        <a href="#"><img src="../static/images/product/2.jpg" alt="Awesome Image"></a>
                    </figure>
                    <div class="content">
                        <h2><a href="#">Jigsaw box alphabets</a></h2>
                        <p>$ 85</p>
                        <div class="cart">
                            <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-holder">
                        <a href="#"><img src="../static/images/product/3.jpg" alt="Awesome Image"></a>
                    </figure>
                    <div class="content">
                        <h2><a href="#">Jigsaw box alphabets</a></h2>
                        <p>$ 85</p>
                        <div class="cart">
                            <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                    <figure class="img-holder">
                        <a href="#"><img src="../static/images/product/4.jpg" alt="Awesome Image"></a>
                    </figure>
                    <div class="content">
                        <h2><a href="#">Jigsaw box alphabets</a></h2>
                        <p>$ 85</p>
                        <div class="cart">
                            <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>

{% endblock %}