{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}商城 - 哆唻咪启蒙乐园{% endblock %}


{% block custom_content %}
    <section class="shop">
        <div class="container">
            <div class="team-list row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/1.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>￥ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/2.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>￥ 85</p>
                            <div class="cart">
                                <a href="/cart-page/"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/3.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>￥ 85</p>
                            <div class="cart">
                                <a href="/cart-page/"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/4.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>￥ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-list row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/1.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/2.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/3.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/4.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-list row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/1.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/2.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/3.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/4.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-list row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/1.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/2.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/3.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s" data-wow-offset="0"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: fadeIn;">
                        <figure class="img-holder">
                            <a href="#"><img src="../static/images/product/4.jpg" alt="Awesome Image"></a>
                        </figure>
                        <div class="content">
                            <h2><a href="#">Jigsaw box alphabets</a></h2>
                            <p>$ 85</p>
                            <div class="cart">
                                <a href="cart-page.html"><span class="flaticon-shop"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
{% endblock %}