<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>{% block title %}个人中心 - 哆唻咪启蒙乐园{% endblock %}</title>
    <link REL="shortcut icon" href="{% static "images/logo/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static 'css/common-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    {% block custom_css %}{% endblock %}

</head>
<body class="home-one">
<div class="preloader"></div>
<header class="header clearfix">
    <div class="main-header stricky bubble">
        <div class="container">
            <div class="logo pull-left">
                <a href="{% url 'main:index' %}">
                    <img src="{% static 'images/logo/1.png' %}" alt="Awesome Image">
                </a>
            </div>

            <div class="nav-outer">
                <div class="header-top">
                    <div class="contact">
                        <span class="icon fa fa-phone"></span>Call : (021) 123 456 7890
                    </div>

                    <div id="top-search" class="top-search">
                        <span class="flaticon-search search"></span>
                        <ul class="search-box">
                            <li>
                                <form action="#">
                                    <input type="text" placeholder="请输入...">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </li>
                        </ul>
                    </div>

                    {% if request.user.is_authenticated %}
                        <div class="personal">
                            <a href="{% url 'users:user_info' %}">{{ request.user.username }}</a>
                            <a href="{% url 'logout' %}">退出</a>
                        </div>
                    {% else %}
                        <div class="register">
                            <a href="{% url 'users:register' %}"> 注册</a>
                            <a href="{% url 'login' %}"> 登录 </a>
                        </div>
                    {% endif %}

                </div>
                <nav class="mainmenu-area">
                    <div class="navbar" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                        </div>

                        <div class="navbar-collapse collapse text-center">
                            <ul>
                                <li><a href="{% url 'main:index' %}">主页</a></li>
                                <li><a href="{% url 'news:news' %}">新闻</a></li>
                                <li><a href="{% url 'events:events' %}">活动</a></li>
                                <li><a href="{% url 'main:about' %}">关于</a></li>
                                {#                                <li><a href="/care-home/">育儿学堂</a></li>#}
                                <li><a href="{% url 'shop:shop' %}">商城</a></li>
                                <li><a href="{% url 'contact:contact' %}">联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

        </div>
    </div>
</header>

{% block custom_content %}

{% endblock %}

<section class="footer">
    <div class="footer-bottom">
        <div class="footer-bottom-bg">
            <div class="container">
                <div class="pull-left">
                    <figure><a href="#"><img src="{% static 'images/logo/2.png' %}" alt=""></a></figure>
                </div>
                <div class="pull-right">
                    <div class="menu">
                        <ul class="clearfix">
                            <li><a href="{% url "main:index" %}">home</a></li>
                            <li><a href="{% url "news:news" %}">news</a></li>
                            <li><a href="{% url "events:events" %}">events</a></li>
                            <li><a href="{% url "main:about" %}">about</a></li>
                            {#                            <li><a href="/care-home/">care-home</a></li>#}
                            <li><a href="{% url "shop:shop" %}">shop</a></li>
                            <li><a href="{% url "contact:contact" %}">contact</a></li>
                        </ul>
                    </div>
                    <div class="copy-right">
                        Copyright &copy; 2019 - 2019 Dorimi.Company
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Scroll to top-->
<div class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></div>

<!-- Gallery Box -->
<!-- jQuery js -->a
<script src="{% static 'assets/jquery/jquery-1.12.3.min.js' %}" type='text/javascript'></script>
<!-- bootstrap js -->
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}" type='text/javascript'></script>
<!-- jQuery ui js -->
<script src="{% static 'assets/jquery-ui-1.11.4/jquery-ui.js' %}" type='text/javascript'></script>

<!-- wow js -->
<script src="{% static 'assets/wow.js' %}" type='text/javascript'></script>
<!-- owl carousel js -->
<script src="{% static 'assets/owl.carousel-2/owl.carousel.min.js' %}" type='text/javascript'></script>
<!-- jquery.bxslider js -->
<script src="{% static 'assets/jquery.bxslider/jquery.bxslider.min.js' %}" type='text/javascript'></script>
<!-- jQuery validation -->
<script src="{% static 'assets/jquery-validation/dist/jquery.validate.min.js' %}" type='text/javascript'></script>

<!-- mixit u -->
<script src="{% static 'assets/jquery.mixitup.min.js' %}" type='text/javascript'></script>
<script src="{% static 'assets/isotope.pkgd.min.js' %}" type='text/javascript'></script>
<script src="{% static 'assets/jquery.countdown.min.js' %}" type='text/javascript'></script>
<script src="{% static 'assets/masterslider/masterslider.js' %}" type='text/javascript'></script>
<script src="{% static 'assets/SmoothScroll.js' %}" type='text/javascript'></script>

<!-- revolution slider js -->
<script src="{% static 'assets/revolution/js/jquery.themepunch.tools.min.js' %}" type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/jquery.themepunch.revolution.min.js' %}" type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.actions.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.carousel.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.migration.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.navigation.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.parallax.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/revolution/js/extensions/revolution.extension.video.min.js' %}"
        type='text/javascript'></script>


<script src="{% static 'assets/Polyglot-Language-Switcher-master/js/jquery.polyglot.language.switcher.js' %}"
        type='text/javascript'></script>
<script src="{% static 'assets/fancyapps-fancyBox/source/jquery.fancybox.pack.js' %}" type='text/javascript'></script>
<script src="{% static 'assets/scrollbar.js' %}" type='text/javascript'></script>

<script src="{% static 'js/script.js' %}" type='text/javascript'></script>
{% block custom_js %}

{% endblock %}

</body>
</html>