{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}事件详情 - 哆唻咪启蒙乐园{% endblock %}

{% block custom_content %}

    <section class="page-title center">
        <div class="container">
            <h2>Event Details</h2>
            <ul>
                <li><a href="{% url 'index' %}">home</a></li>
                <li><a href="{% url 'events:events' %}">Events</a></li>
                <li><a href="#">Event Details</a></li>
            </ul>
        </div>
    </section>

    <div class="sidebar-page product-details">
        <div class="container">

            <div class="row clearfix">

                <!--Content Side-->
                <div class="col-md-8 col-sm-7 col-xs-12 post-column">
                    <section class="post-container">

                        <!--Blog Post-->
                        <div class="blog-post wow fadeInLeft animated animated" data-wow-delay="0ms"
                             data-wow-duration="1500ms"
                             style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                            <article class="single-column">
                                <div class="img-box-s2">
                                    <div class="img-holder">
                                        <img src="{{ event.image_url}}" alt="{{ event.title }}">
                                    </div>
                                    <div class="outer-box">
                                        <div class="content">
                                            <h3><a href="#">{{ event.title }}</a></h3>
                                            <div class="date"><span class="icon-clock"> {{ event.time }} </span> <span
                                                    class="icon-location">{{ event.address }}</span>
                                            </div>
                                            <div class="text">
                                                {{ event.content }}
                                            </div>
                                            <ul class="list">
                                                {{ event.attention }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
                <!--Content Side-->

                <div class="col-md-4 col-sm-5 col-xs-12">
                    <aside class="sidebar">

                        <!-- Popular Categories -->
                        <div class="widget wow fadeInUp animated animated" data-wow-delay="0ms"
                             data-wow-duration="1500ms"
                             style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInUp;">
                            <div class="sidebar-title"><h2>活动 <span>详情</span></h2></div>

                            <ul class="list catagories product-info">
                                <li><i class="icon-reading"></i><span>主题 :</span> {{ event.subject }}</li>
                                <li><i class="icon-coin-icon"></i><span>费用 :</span>{{ event.price }}</li>
                                <li><i class="icon-clock"></i><span>时间 :</span>{{ event.time }}</li>
                                <li><i class="icon-cup"></i><span>奖项 :</span>{{ event.awards }}</li>
                                <li><i class="icon-people"></i><span>负责老师 :</span> {{ event.teachers }}</li>
                                <li><i class="icon-location"></i><span>地址 :</span> {{ event.address }}</li>
                            </ul>

                        </div>

                    </aside>
                </div>
            </div>


        </div>
    </div>

{% endblock %}